<section class="request-data-bank-section">
    <div class="container">
            <h3 class="title">Couldn't find the perfect data bank?

                <span class="subtitle">Raise a request</span>
            </h3>
        <div class="content justify-content-center align-items-center">
            <button class="btn-request" type="button">
                REQUEST A DATA BANK
                <img src="assets/send.svg" alt="arrow-right" class="arrow-icon ms-2">
            </button>
        </div>
    </div>
</section>