<section class="connect-tgdex-section">
    <div class="container">
        <div class="text-content d-flex align-items-center">
            <span class="title mb-0">Connect with TGDeX
                <span class="d-none d-xl-inline d-xxl-inline"> -</span>
            </span>
            <p class="subtitle">Get your questions answered..</p>
            <div class="actions">
                <button class="btn-register" type="button">
                    Register Now
                    <svg class="arrow-icon" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                        <path
                            d="M8.22 2.97a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 1 1-1.06-1.06L11.44 8.5H2.75a.75.75 0 0 1 0-1.5h8.69L8.22 4.03a.75.75 0 0 1 0-1.06Z" />
                    </svg>
                </button>
                <button class="btn-contact" type="button">
                    Contact Us
                    <img src="assets/contact-us.svg" alt="phone" class="phone-icon">
                </button>
            </div>
        </div>
    </div>
</section>