body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-100 {
  width: 100% !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.gap-2 {
  gap: .5rem !important;
}

.ms-2 {
  margin-left: .5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}